@font-face {
    font-family: Calculator;
    src: url(/Calculator.ttf);
}

.font-calculadora{
    font-family: Calculator;
    text-transform: uppercase;
    font-size: larger;
}

body{
    background-image: url(/bg.jpg);
    background-repeat: repeat;
}

button{
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
button:hover{
    
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    background-color: green !important;
    color: white !important;
}